<main>
    <div class="container">
        <div class="media">
            <span class="item" *ngIf="car">
                <img src="{{ car.imageUrl }}" />
            </span>
        </div>
        <aside>
            <ul class="static">
                <li>Brand</li>
                <li>Model</li>
                <li>Year</li>
                <li>Engine</li>
                <li>Engine Power</li>
                <li>Engine Capacity</li>
                <li>Transmission</li>
                <li>Price</li>
            </ul>
            <ul class="dynamic" *ngIf="car">
                <li>{{ car.brand }}</li>
                <li>{{ car.model }}</li>
                <li>{{ car.year }}</li>
                <li>{{ car.engine }}</li>
                <li>{{ car.enginePower }}hp</li>
                <li>{{ car.engineCapacity }}c.c</li>
                <li>{{ car.transmission }}</li>
                <li>{{ car.price }}$</li>
            </ul>
        </aside>
    </div>
    <div class="buttons">
        <ng-content></ng-content>
        <ng-container *ngIf="owner; then isOwner; else isNot"></ng-container>
    </div>
    <div class="last">
        <h6>Description</h6>
        <div class="desk" *ngIf="car">
            {{ car.description }}
        </div>
    </div>
</main>

<ng-template #isOwner>
    <a [routerLink]="['/car/edit', car._id]">Edit</a>
    <a (click)="deleteCar()">Delete</a>
</ng-template>
<ng-template #isNot>
    <a (click)="handler()">Add</a>
</ng-template>
