<main>
    <div class="container">
        <div class="media">
            <span class="item">
                <img
                    src="https://www.telegraph.co.uk/content/dam/news/2017/11/11/Lam1_trans_NvBQzQNjv4BqnAdySV0BR-4fDN_-_p756cVfcy8zLGPV4EhRkjQy7tg.jpg"
                    alt=""
                />
            </span>
        </div>
        <aside>
            <ul class="static">
                <li>Brand</li>
                <li>Model</li>
                <li>Year</li>
                <li>Engine</li>
                <li>Engine Power</li>
                <li>Engine Capacity</li>
                <li>Transmission</li>
            </ul>
            <ul class="dynamic">
                <li>BWM</li>
                <li>E450</li>
                <li>2007</li>
                <li>PETROL</li>
                <li>200hp</li>
                <li>2000.c.c</li>
                <li>Manual</li>
            </ul>
        </aside>
    </div>
    <div class="buttons">
        <a href="">BUY</a>
        <a href="">Edit</a>
        <a href="">Delete</a>
    </div>
    <div class="last">
        <h6>Description</h6>
        <div class="desk">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            tenetur cupiditate mollitia rerum quos quia reiciendis impedit
            voluptate eius, fuga neque at sequi illum. Illum, nihil. Suscipit
            ipsa magni eum. Lorem ipsum dolor, sit amet consectetur adipisicing
        </div>
    </div>
</main>
