main {
    margin: 3em;
    flex-basis: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery:after {
    display: block;
    content: "";
}
h5 {
    padding-bottom: 0;
    text-align: center;
    font-weight: bold;
}

li,
.media,
img {
    display: block;
}

.gallery:after,
li {
    flex: 0 0 27%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.media {
    position: relative;
    overflow: hidden;
}

.media:before {
    display: block;
    content: "";
    padding-top: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

a {
    display: block;
    width: 40%;

    text-align: center;
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    background-color: rgb(21, 25, 29);
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(21, 25, 29);
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1em;
    transition: all 0.5s ease-in;
}
a:hover {
    color: black;
    background-color: white;
}
