<main>
    <ng-container *ngIf="cars.length; then isNotEmpty; else isEmpty">
    </ng-container>
</main>

<ng-template #isEmpty>
    <h1>There is not any offers yet. Be the first one to create one!</h1>
</ng-template>
<ng-template #isNotEmpty>
    <ul class="gallery">
        <li *ngFor="let car of cars">
            <h5>{{ car.brand }} - {{ car.model }}</h5>
            <span class="media">
                <img src="{{ car.imageUrl }}" alt="" />
            </span>
            <div class="buttons">
                <a *ngIf="!car.likes.includes(userId)"
                    ><i class="fas fa-thumbs-up" (click)="like(car._id)"></i>
                    <span>{{ car.likes.length }} likes</span></a
                >
                <a *ngIf="car.likes.includes(userId)"
                    ><i
                        (click)="dislike(car._id)"
                        class="fas fa-thumbs-down"
                    ></i>
                    <span>{{ car.likes.length }} likes</span></a
                >

                <a class="details" [routerLink]="['/car/detail', car._id]"
                    >Details</a
                >
            </div>
        </li>
    </ul>
</ng-template>
