<main>
    <div class="products">
        <ul>
            <li *ngFor="let car of cars">
                <img src="{{ car.imageUrl }}" alt="" />
                <span
                    >{{ car.brand }}/{{ car.model }}/{{ car.enginePower }}</span
                >
                <a
                    ><i class="fas fa-times" (click)="deleteItem(car._id)"></i
                ></a>
            </li>
        </ul>
    </div>
    <div class="price">
        <h1 class="price">Price: {{ cars | price }}$</h1>
    </div>
    <div class="button">
        <button (click)="buy()">Byu</button>
    </div>
</main>
