<main>
    <h3>Create An Offer</h3>
    <div class="main">
        <form>
            <p>
                <input type="text" name="brand" />
                <span>Brand</span>
            </p>
            <p>
                <label for="model">Model</label>
                <input type="text" name="model" />
            </p>
            <p>
                <label for="year">Year</label>
                <input type="number" name="year" />
            </p>
            <p>
                <label for="engine">Engine</label>
                <input type="text" name="engine" />
            </p>
            <p>
                <label for="enginePower">Engine Power</label>
                <input type="number" name="enginePower" />
            </p>
            <p>
                <label for="engineCapacity">Engine Capacity</label>
                <input type="number" name="engineCapacity" />
            </p>
            <p>
                <label for="transition">Transition</label>
                <input type="text" name=" transition" />
            </p>
            <p>
                <label for="imageUrl"> ImageUrl </label>
                <input type="text" name="imageUrl" />
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text" name="description" />
            </p>
        </form>
    </div>
</main>
