<main>
    <ul class="gallery">
        <li>
            <h6>Bwm/somifkdmgkdfg</h6>
            <span class="media">
                <img
                    src="https://images.unsplash.com/photo-1452555099503-3985696e7c0a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80"
                    alt=""
                />
            </span>
            <div class="buttons">
                <a href=""><i class="fas fa-thumbs-up"></i></a>
                <a href=""><i class="fas fa-thumbs-down"></i></a>
                <a href="">Detais</a>
            </div>
        </li>
        <li>
            <h6>HDAS,FLAS</h6>
            <span class="media">
                <img
                    src="https://images.unsplash.com/photo-1463462927315-fb10af2c68d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80"
                    alt=""
                />
            </span>
            <div class="buttons">
                <a href=""><i class="fas fa-thumbs-up"></i></a>
                <a href=""><i class="fas fa-thumbs-down"></i></a>
                <a href="">Detais</a>
            </div>
        </li>
        <li>
            <h6>HDAS,FLAS</h6>
            <span class="media">
                <img
                    src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80"
                    alt=""
                />
            </span>
            <div class="buttons">
                <a href=""><i class="fas fa-thumbs-up"></i></a>
                <a href=""><i class="fas fa-thumbs-down"></i></a>
                <a href="">Detais</a>
            </div>
        </li>
        <li>
            <h6>HDAS,FLAS</h6>
            <span class="media">
                <img
                    src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=400&q=80"
                    alt=""
                />
            </span>
            <div class="buttons">
                <a href=""><i class="fas fa-thumbs-up"></i></a>
                <a href=""><i class="fas fa-thumbs-down"></i></a>
                <a class="detail" href="">Detais</a>
            </div>
        </li>
        <li>
            <h6>HDAS,FLAS</h6>
            <span class="media">
                <img
                    src="https://specials-images.forbesimg.com/imageserve/5d3703e2f1176b00089761a6/960x0.jpg?cropX1=836&cropX2=5396&cropY1=799&cropY2=3364"
                    alt=""
                />
            </span>
            <div class="buttons">
                <a href=""> <i class="fas fa-thumbs-up"></i></a>
                <a href=""><i class="fas fa-thumbs-down"></i></a>
                <a href="">Detais</a>
            </div>
        </li>
    </ul>
</main>
