<main>
    <ng-container *ngIf="token; then isLogged; else isNot"></ng-container>
</main>

<ng-template #isLogged>
    <h1>Welcome to our website!</h1>
    <h4>
        Here you can find a wilde rage of cars for sale. Choose wisely and buy
        your new car today!
    </h4>
</ng-template>

<ng-template #isNot>
    <h1>Sign Up Now and find the best car for you</h1>
    <h2>Our Best Offers</h2>
    <ul class="gallery">
        <li *ngFor="let car of cars">
            <h5>{{ car.brand }} - {{ car.model }}</h5>
            <span class="media">
                <img src="{{ car.imageUrl }}" />
            </span>
            <p *ngIf="car.likes.length !== 1">{{ car.likes.length }} likes</p>
            <p *ngIf="car.likes.length === 1">{{ car.likes.length }} like</p>
        </li>
    </ul>
</ng-template>
