<main>
    <div class="profile">
        <div class="image">
            <img
                src="../../../assets/user-icon.png"
                style="width: 40%"
                alt=""
            />
        </div>
        <div class="flex">
            <div class="main">
                <p>Email:</p>
                <p>Username:</p>
                <p>Offers Bought:</p>
                <p>Own Offers:</p>
            </div>
            <div class="content" *ngIf="data">
                <p>{{ data.email }}</p>
                <p>{{ data.username }}</p>
                <p>{{ data.carsBought }}</p>
                <p>{{ data.cars.length }}</p>
            </div>
        </div>
    </div>
</main>
